menu "CC1101 Configuration"

	config GPIO_RANGE_MAX
		int
		default 33 if IDF_TARGET_ESP32
		default 46 if IDF_TARGET_ESP32S2
		default 48 if IDF_TARGET_ESP32S3
		default 18 if IDF_TARGET_ESP32C2
		default 19 if IDF_TARGET_ESP32C3
		default 30 if IDF_TARGET_ESP32C6

	config MISO_GPIO
		int "CC1101 MISO GPIO"
		range 0 GPIO_RANGE_MAX
		default 19 if IDF_TARGET_ESP32
		default 37 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
		default  4 # C3 and others
		help
			Pin Number to be used as the MISO SPI signal.

	config SCK_GPIO
		int "CC1101 SCK GPIO"
		range 0 GPIO_RANGE_MAX
		default 18 if IDF_TARGET_ESP32
		default 36 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
		default  3 # C3 and others
		help
			Pin Number to be used as the SCK SPI signal.

	config MOSI_GPIO
		int "CC1101 MOSI GPIO"
		range 0 GPIO_RANGE_MAX
		default 23 if IDF_TARGET_ESP32
		default 35 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
		default  2 # C3 and others
		help
			Pin Number to be used as the MOSI SPI signal.

	config CSN_GPIO
		int "CC1101 CSN GPIO"
		range 0 GPIO_RANGE_MAX
		default  5 if IDF_TARGET_ESP32
		default 34 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
		default  1 # C3 and others
		help
			Pin Number to be used as the CSN SPI signal.

	config GDO0_GPIO
		int "CC1101 GDO0 GPIO"
		range 0 GPIO_RANGE_MAX
		default 15 if IDF_TARGET_ESP32
		default 33 if IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
		default  0 # C3 and others
		help
			Pin Number to be used as the GDO0 signal.

	choice SPI_HOST
		prompt "SPI peripheral that controls this bus"
		default SPI2_HOST
		help
			Select SPI peripheral that controls this bus.
		config SPI2_HOST
			bool "SPI2_HOST"
			help
				Use SPI2_HOST. This is also called HSPI_HOST.
		config SPI3_HOST
			depends on IDF_TARGET_ESP32 || IDF_TARGET_ESP32S2 || IDF_TARGET_ESP32S3
			bool "SPI3_HOST"
			help
				USE SPI3_HOST. This is also called VSPI_HOST
	endchoice

	config CC1101_CHANNEL
		int "CC1101 channel"
		range 0 255
		default 0
		help
			Both receiver and transmitter must operate on the same channel

	choice
		prompt "CC1101 Frequency"
		default CC1101_FREQ_433
		help
			Select ISM band frequency

		config CC1101_FREQ_315
			bool "315 MHz" 
		config CC1101_FREQ_433
			bool "433 MHz" 
		config CC1101_FREQ_868
			bool "868 MHz" 
		config CC1101_FREQ_915
			bool "915 MHz" 
	endchoice

	choice
		prompt "CC1101 Modulation speed"
		default CC1101_SPEED_38400
		help
			Select Modulation speed.

		config CC1101_SPEED_4800
			bool "4.8 kbit/sec"
		config CC1101_SPEED_9600
			bool "9.6 kbit/sec"
		config CC1101_SPEED_19200
			bool "19.2 kbit/sec"    
		config CC1101_SPEED_38400
			bool "38.4 kbit/sec" 
	endchoice

	choice
		prompt "CC1101 TX power level"
		default CC1101_POWER_DEFAULT
		help
			Select TX power level.

		config CC1101_POWER_DEFAULT
			bool "Default power level"
		config CC1101_POWER_MIN
			bool "Minimum power level"
		config CC1101_POWER_0db
			bool "Power level is 0dBm"    
		config CC1101_POWER_MAX
			bool "Maximum power level" 
	endchoice

endmenu
