menu "Application Configuration"

	choice DIRECTION
		prompt "Communication direction"
		default Receiver
		help
			Select Communication direction.
		config RECEIVER
			bool "Receiver"
			help
				Execute Receiver.
		config TRANSMITTER
			bool "Transmitter"
			help
				Execute Transmitter.
	endchoice

  config RECEIVER_ADDRESS
		depends on TRANSMITTER
    int "Receiver address"
    range 0 254
    default 0
    help
      Both receiver and transmitter must have the same address.

endmenu 
