menu "Application Configuration"

	choice DIRECTION
		prompt "Communication direction"
		default RECEIVER
		help
			Select Communication direction.
		config RECEIVER
			bool "Receiver"
			help
				Execute Receiver.
		config TRANSMITTER
			bool "Transmitter"
			help
				Execute Transmitter.
	endchoice

endmenu 
